#services {
    width: 100vw;
    height: 100vh;
    background: url('./universe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#services > .wrapper {
    position: relative;
    top: 20%;
    text-align: center;
}

#services > .wrapper > h1,
#services > .wrapper > h2,
#services > .wrapper > p,
#services > .wrapper > ul > li {
    color: white;
    text-shadow: 0.3vh 0.3vh 0.5vh #ffee00;
}

#services > .wrapper > p {
    margin-top: 10vh;
}

#services > .wrapper > ul {
    width: 30vw;
    position: relative;
    left: 40vw;
    text-align: start;
    margin-bottom: 10vh;
}