#call {
    height: 40vh;
    background: url('./galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#call > h1,
#call > h3,
#call > h2 {
    text-align: center;
    text-shadow: 0.4vh 0.4vh 0.7vh #00ffe5;
    color: white;
    position: relative;
    top: 15vh;
}