#intro {
  background-image: url("../../assets/pics/intro.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro > .title {
    position: relative;
    top: 35px;
    height: 250px;
}

#intro > .title > h1 {
    font-size: 76px;
    color: rgb(255, 255, 255);
    margin-bottom: 0
}

#intro > .title > p {
    font-size: 21px;
    color: rgb(255, 255, 255);
    text-align: center;
}

#intro > .info {
    height: 300px;
    position: relative;
    top: 300px;
}

#intro > .info > p {
    font-size: 32px;
    color: white;
}

#intro > .info > h3 {
    font-size: 42px;
    color: white;
    text-align: center;
}