#intro {
  background-image: url("../../assets/pics/intro.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro > .title {
    position: relative;
    top: 4.8vh;
    height: 32vh;
}

#intro > .title > h1 {
    font-size: 10.6vh;
    color: rgb(0, 255, 255);
    margin-bottom: 0;
    text-shadow: 0.6vh 0.6vh 0.5vh #367871;
}

#intro > .title > p {
    font-size: 3.7vh;
    color: rgb(255, 255, 255);
    text-align: center;
}

#intro > .info {
    height: 38vh;
    position: relative;
    top: 38vh;
}

#intro > .info > p {
    font-size: 4.7vh;
    color: rgb(77, 77, 77);
    text-shadow: 0.2vh 0.2vh 0.4vh #0dff00;
}

#intro > .info > h3 {
    font-size: 5.8vh;
    color: rgb(91, 91, 91);
    text-align: center;
    text-shadow: 0.26vh 0.26vh #00f7ff;
}